.App {
  height: 98vh;
  width: 98vw;
  overflow: hidden;
  padding: 2vh 1vw 0 1vw;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

* {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

/* create todo component */
.createTodo___container {
  height: 20%;

  background-color: burlywood;
}

/* todo display list and select project */

.todoList___container {
  padding-top: 2%;
  height: 77%;
  width: 100%;
}

.todoList___select_project_input {
  display: flex;
}

.todoList___content_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2%;
  justify-content: space-around;
  width: 98vw;
  height: 98%;
  overflow-y: scroll;
  padding-bottom: 3%;
}

.todoList___category_section {
  background-color: bisque;
}
.todoList___category_section h1 {
  text-align: center;
}








